<?xml version="1.0" ?>
<launch>
  <arg name="map_file" default="/home/damchan/map/test1.yaml" />
  <arg name="model" />
  <node
      name="cartographer_node"
      pkg="cartographer_ros"
      type="cartographer_node"
      args="-configuration_directory /home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/configuration_files -configuration_basename ydlidar_navigation.lua"
      output="screen"/>


       <!-- <node
      pkg="tf"
      type="static_transform_publisher"
      name="map_to_base_link"
      args="0 0 0 0 0 0 /base_link /map  40"
      /> 
     <node
      pkg="tf"
      type="static_transform_publisher"
      name="base_link_to_odom"
      args="0 0 0 0 0 0 /base_link /odom 40"
      />   -->
     
       <!-- <node
      pkg="tf"
      type="static_transform_publisher"
      name="base_link_to_base_footprint"
      args="0 0 0 0 0 0 /base_link /base_footprint 100"
      />  -->

	  <!-- <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz"

  />  -->
  <param name="robot_description" command="$(find xacro)/xacro /home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/configuration_files/my_robot.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="rviz" 
  type="rviz" 
  name="rviz" 
  required="true" 
  args="-d /home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/configuration_files/navigation.rviz"/>

    <node pkg="map_server" name="map_server" type="map_server" args=" $(arg map_file)"/>
    
  <!-- move_base -->
  <include file="/home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/launch/move_base.launch"/>

  <!-- <include file="/home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/launch/amcl.launch"/> -->

  <!-- <include file="/home/damchan/ydlidar_ws/src/ydlidar_ws/src/ydlidar_ros_driver/launch/X4-Pro.launch" /> -->

</launch>