<?xml version="1.0" ?>
<launch>
  <node
     name="horizontal_laser"
     pkg="ydlidar_ros_driver"
     type="ydlidar_ros_driver_node"
     output="screen">
  </node>
  <arg name="map_file" default="/home/damchan/map/cafr.yaml" />

  <node
      pkg="tf"
      type="static_transform_publisher"
      name="base_link_connect"
      args="0 0 0 0 0 0 /base_link /laser_frame 100"
  />

  <!-- <node
      name="cartographer_occupancy_grid_node"
      pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node"
      args="-resolution 0.05"
  /> -->

  <node
      name="cartographer_node"
      pkg="cartographer_ros"
      type="cartographer_node"
      args="-configuration_directory /home/damchan/slam_cartographer_ws/src/cartographer_ros/cartographer_ros/configuration_files -configuration_basename ydlidar2.lua"
      output="screen"
  />

  <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz"
  />

  <node pkg="map_server" name="map_server" type="map_server" args=" $(arg map_file)"/>
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="rotate 0.7854 $(arg map_file)"/> -->

    <!-- <include file="/home/damchan/cartographer_ws/src/cartographer_ros/cartographer_ros/launch/amcl.launch"/> -->

    <include file="/home/damchan/ydlidar_ws/src/ydlidar_ws/src/ydlidar_ros_driver/launch/X4-Pro.launch" />

</launch>